
    body{
        background-color: rgb(200, 250, 250);
    }

    .names{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .user-dashboard-info-box .candidates-list .thumb img {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
    }

    .table.manage-candidates-top {
        min-width: 100px;
    }

    .user-dashboard-info-box .candidate-list-details ul {
        color: #969696;
    }

    .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 8px;
    }

    .bg-white {
        margin: 0 auto;
        background-color: #ffffff !important;
        width: fit-content;
        border-radius: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .p-4 {
        padding: 1.5rem!important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0!important;
    }

    .buttons{
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: solid 1px rgb(0, 0, 100);
        border-radius:15px;
        color: rgb(0, 0, 100);
        background-color: white;
        font-size: 8px;
        font-weight: 300;
        padding: 2.5px;
        margin-top: 30px;
        margin-left: -20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .buttons:hover{
        color: white;
        background-color: rgb(0, 0, 100);
        transition: 0.3s ease-in-out;
    }

    .fa-bookmark{
        margin: 0 auto;
        margin-top: 5px;
        font-size: 18px;
        color: rgb(120, 120, 120); 
    }

    .fa-heart{
        color: red;
        float: right;
    }

    .text-center{
        display: inline-block;
    }

    .candidate-list-details{
        border-bottom: 1px double rgba(100, 100, 100, 0.5);
    }

    .page-item{
        padding: 1px;
        border-radius: 10px;
        color: rgb(220, 150, 70);
        font-size: 10px;
        font-weight: 1.5;
        background-color: rgba(230, 230, 230, 0.5);
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }

    .page-item:hover{
        text-shadow: 1px 1px rgba(220, 150, 70, 0.3);
        box-shadow: 1px 1px rgba(100, 100, 100, 0.3);
    }

    input[type="radio"]:checked+label{
        border: solid 1.5px rgb(220, 150, 70);
    }

    .page-button{
        padding-top: 3px;
        padding-bottom: 3px;
        border: 0px;
    }

    .pagination{
        padding-left: 0px;
    }

    .candidate-list-favourite-time{
        margin-top: 22px;
        font-size: 13px;
        display: inline;
    }

    .candidate-list-info{
        margin-top: 10px;
        padding-left: 0px;
    }

    .list-unstyled{
        float: right;
        margin-top: -40px;
        margin-left: -170px;
    }

    .thumb{
        float: left;
        margin-top: 20px;
        margin-left: -15px;
    }
    
    .title{
        padding-bottom: 20px;
    }

    .pagination{
        margin: 0 auto;
    }

    .text-primary:hover{
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.4);
        transition: text-shadow 0.2s ease-out;
    }

    #solid-1{
        margin-left: -17.5px;
    }
    #solid-2{
        margin-left: -17.5px;
    }
    #solid-3{
        margin-left: -17.5px;
    }
    #solid-4{
        margin-left: -17.5px;
    }
    #solid-5{
        margin-left: -17.5px;
    }

    @media screen and (min-width: 410px){
    
        .names{
            font-size: 18px;
        }
    
        .user-dashboard-info-box .candidates-list .thumb img {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
        }
    
        .table.manage-candidates-top {
            min-width: 300px;
        }
    
        .candidate-list-details ul li {
            margin: 5px 10px 5px 0px;
            font-size: 10px;
        }
    
        .bg-white {
            border-radius: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .p-4 {
            padding: 1.5rem!important;
        }
    
        .mb-0, .my-0 {
            margin-bottom: 0!important;
        }
    
        .buttons{
            float: right;
            margin-left: 5px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border-radius:15px;
            font-size: 10px;
            font-weight: 500;
            padding: 3px;
            margin-top: 10px;
        }
    
        .fa-bookmark{
            margin: 0 auto;
            margin-left: 10px;
            margin-top: 13px;
            font-size: 25px;
        }

        .text-center{
            display: inline-block;
        }
  
        .page-item{
            padding: 1px;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 1.5;
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
        }

        .page-button{
            padding-top: 3px;
            padding-bottom: 3px;
            border: 0px;
        }
    
        .pagination{
            padding-left: 70px;
        }
    
        .candidate-list-favourite-time{
            margin-top: 40px;
        }
    
        .candidate-list-info{
            margin-top: 20px;
            padding-left: 40px;
        }
    
        .list-unstyled{
            float: right;
            margin-top: -40px;
            margin-left: -45px;
        }
    
        .thumb{
            float: left;
            margin-top: 20px;
        }
        
        .title{
            padding-bottom: 30px;
        }
    
        .pagination{
            margin: 0 auto;
        }
    
        #solid-1{
            margin-left: -33px;
        }
        #solid-2{
            margin-left: -33px;
        }
        #solid-3{
            margin-left: -33px;
        }
        #solid-4{
            margin-left: -33px;
        }
        #solid-5{
            margin-left: -33px;
        }
    }


    @media screen and (min-width: 700px) {

    .names{
        font-size: 25px;
    }

    .user-dashboard-info-box .candidates-list .thumb img {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;
    }

    .table.manage-candidates-top {
        min-width: 650px;
    }

    .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px;
    }

    .bg-white {
        margin: 0 auto;
        width: fit-content;
        border-radius: 10px;
    }
    
    .p-4 {
        padding: 1.5rem!important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0!important;
    }

    .buttons{
        margin-left: 10px;
        text-align: center;
        border-radius:15px;
        font-size: 14px;
        font-weight: 700;
        padding: 4px;
    }

    .fa-bookmark{
        margin: 0 auto;
        font-size: 32px;
    }

    .page-item{
        padding: 5px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 1.5;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-button{
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0px;
    }

    .pagination{
        padding-left: 180px;
    }

    .candidate-list-favourite-time{
        margin-top: 40px;
        font-size: 20px;
    }

    .candidate-list-info{
        margin-top: 20px;
        padding-left: 100px;
    }

    .list-unstyled{
        float: right;
        margin-top: -40px;
        margin-left: -45px;
    }

    .thumb{
        float: left;
        margin-top: 20px;
    }
    
    .title{
        padding-bottom: 30px;
    }

    #solid-1{
        margin-left: -28px;
    }
    #solid-2{
        margin-left: -28px;
    }
    #solid-3{
        margin-left: -28px;
    }
    #solid-4{
        margin-left: -28px;
    }
    #solid-5{
        margin-left: -28px;
    }
        
    }